{% extends 'index.html' %}
{% load static %}

        {% block content %}
            <section class="slider1 cid-sIkCciHnGy mbr-fullscreen" id="slider1-k">
                
                <div class="carousel slide" id="sIlaqq7MiL" data-interval="5000">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" class="active" data-target="#sIlaqq7MiL"></li>
                        <li data-slide-to="1" data-target="#sIlaqq7MiL"></li>
                        <li data-slide-to="2" data-target="#sIlaqq7MiL"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item slider-image item active">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="{% static 'assets/images/train-821500-1280-1280x850.jpg' %}">
                                
                                <div class="carousel-caption">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>A SOLUÇÃO IDEAL PARA SI E PARA SUA EMPRESA</strong></h5>
                                    <a href="{% url 'serviços' %}">
                                        <p class="mbr-section-text mbr-fonts-style display-7" style="color: white;">Clique aqui para saber mais!</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="{% static 'assets/images/cargo-ship-6569723-1280-1280x753.jpg' %}">
                                
                                <div class="carousel-caption">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>O MELHOR TRANSPORTE</strong></h5>
                                    <a href="{% url 'serviços' %}">
                                        <p class="mbr-section-text mbr-fonts-style display-7" style="color: white;">Clique aqui para saber mais!</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="{% static 'assets/images/city-trans-3332623-1280-1280x853.jpg' %}">
                                
                                <div class="carousel-caption">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>O MELHOR SERVIÇO DE ENTREGAS</strong></h5>
                                    <a href="{% url 'serviços' %}">
                                        <p class="mbr-section-text mbr-fonts-style display-7" style="color: white;">Clique aqui para saber mais!</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#sIlaqq7MiL">
                        <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#sIlaqq7MiL">
                        <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>

            <section class="content4 cid-sIkNnz4UAr" id="content4-n">
                
                
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="title col-md-12 col-lg-10">
                            <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Quem somos?</strong></h3>
                            <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">Somos uma empresa que se responsabiliza pela Gestão de Pedidos. Reconhecida nacional e internacionalmente, somos a solução ideal para si e para a sua empresa.</h4>
                            
                        </div>
                    </div>
                </div>
            </section>

            <section class="image1 cid-sIkVVIRZoT" id="image1-s">
                

                

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="image-wrapper">
                                <img src="{% static 'assets/images/pexels-liza-summer-6348105-640x426.jpg' %}" alt="Imagem de Gestão de Pedidos">
                                <p class="mbr-description mbr-fonts-style pt-2 align-center display-4">Entregamos na Sua Porta</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg">
                            <div class="text-wrapper">
                                <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>O que é gestão de pedidos?</strong></h3>
                                <p class="mbr-text mbr-fonts-style display-7">
                                    A gestão de pedidos compreende todo o processo que acontece entre o consumidor realizar uma compra, até o momento em que ele recebe o seu pedido. Pode até parecer algo simples, mas para que tudo ocorra conforme o planejado, garantindo a satisfação do cliente, há uma série de etapas que precisam ser cumpridas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content15 cid-sIl1aBFwlo" id="content15-t">

                

                
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="card col-md-12 col-lg-10">
                            <div class="card-wrapper">
                                <div class="card-box align-left">
                                    <h4 class="card-title mbr-fonts-style mbr-white mb-3 display-5"><strong>Compromisso Garantido</strong></h4>
                                    <p class="mbr-text mbr-fonts-style display-7">Com mais de 75 anos de experiência, na Gestão de Pedidos temos o conhecimento e as ferramentas necessárias para levar qualquer objeto até sua porta com pontualidade e profissionalismo.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content2 cid-sIkUcqKgz6" id="content2-r">
                
                
                <div class="container">
                    <div class="mbr-section-head">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><p>&nbsp; &nbsp; Nosso Blog<br></p></h4>
                        <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Leia as postagens recentes do blog sobre a Gestão de pedidos e muito mais</h5>
                    </div>
                    <div class="row mt-4">
                        <div class="item features-image сol-12 col-md-6 col-lg-4">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{% static 'assets/images/XML.jpg' %}" alt="" title="">
                                </div>
                                <div class="item-content">
                                    <h5 class="item-title mbr-fonts-style display-5">Como recuperar arquivo XML de NFe corretamente</h5>
                                    <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Equipe Arquivei</strong><em> 15-09-2021</em></h6>
                                    <p class="mbr-text mbr-fonts-style mt-3 display-7">Neste artigo iremos explicar tudo sobre XML, o porquê do seu gerenciamento nas empresas e contabilidades ser tão importante e, é claro, boas práticas para recuperar o arquivo XML das notas fiscais eletrônicas corretamente. </p>
                                </div>
                                <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'blog' %}" class="btn item-btn btn-primary display-7" target="_self">Leia Mais &gt;</a></div>
                            </div>
                        </div>
                        <div class="item features-image сol-12 col-md-6 col-lg-4">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{% static 'assets/images/TAXES.jpg' %}" alt="" title="">
                                </div>
                                <div class="item-content">
                                    <h5 class="item-title mbr-fonts-style display-5">Dívidas tributárias e a extinção da punibilidade</h5>
                                    <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Equipe Arquivei</strong><em>&nbsp;15-09-2021</em></h6>
                                    <p class="mbr-text mbr-fonts-style mt-3 display-7">Neste texto falaremos um pouco mais sobre os crimes contra a ordem tributária, quais são eles e suas características. Além disso, abordaremos de forma breve a responsabilidade dos sócios, gestores e administradores pelas dívidas tributárias e como extinguir a punibilidade. Confira!<br>
                                    </p>
                                </div>
                                <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'blog' %}" class="btn btn-primary item-btn display-7" target="_self">Leia Mais &nbsp;&gt;</a></div>
                            </div>
                        </div>
                        <div class="item features-image сol-12 col-md-6 col-lg-4">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{% static 'assets/images/fluxo do negócio.jpg' %}" alt="" title="">
                                </div>
                                <div class="item-content">
                                    <h5 class="item-title mbr-fonts-style display-5">5 dicas para melhorar o fluxo de compras do seu negócio</h5>
                                    <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Equipe Arquivei&nbsp;</strong><em>15-09-2021</em></h6>
                                    <p class="mbr-text mbr-fonts-style mt-3 display-7">Neste artigo vamos explicar o que é o fluxo de compras, sua importância e como algumas dicas simples podem melhorar a gestão de compras na sua empresa.</p>
                                </div>
                                <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'blog' %}" class="btn btn-primary item-btn display-7" target="_self">Leia Mais &nbsp;&gt;</a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="team2 cid-sIkTJ39IQR" xmlns="http://www.w3.org/1999/html" id="team2-q">
                
                
                <div class="container">
                    <div class="card">
                        <div class="card-wrapper">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-4">
                                    <div class="image-wrapper">
                                        <img src="{% static 'assets/images/team1.jpg' %}" alt="Mobirise">
                                    </div>
                                </div>
                                <div class="col-12 col-md">
                                    <div class="card-box">
                                        <h5 class="card-title mbr-fonts-style m-0 display-5">
                                            <strong>Lourenço Gulo</strong>
                                        </h5>
                                        <h6 class="mbr-fonts-style mb-3 display-4">
                                            <strong>Programador</strong>
                                        </h6>
                                        <p class="mbr-text mbr-fonts-style display-7">
                                            Sou estudante de informática há quase um ano e recentemente comecei a aprender o FrameWork Django (Pyhton). Estou fazendo esse projecto para comprovar os meus conhecimentos nesse FrameWork Excelente :).
                                        </p>
                                        <div class="social-row display-7">
                                            <div class="soc-item">
                                                <a href="https://www.facebook.com/" target="_blank">
                                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                                </a>
                                            </div>
                                            <div class="soc-item">
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                                </a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        {% endblock %}